<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %></title>
    <script src="https://kit.fontawesome.com/f09d19ae7c.js" crossorigin="anonymous"></script>
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/productDetail.css">
</head>

<body>

    <%- include ('../partials/header.ejs') %>
    <main>
        <section class="interes">
            <h2>Tambien podría interesarte</h2>
            <% for (let i=0; i < 4 ; i++) { %>
            <div class="contenedor-interes">
                <div>
                    <a href="/products/<%= interes[i].id%>"><img class="imagen-interes" src="/images/productos/<%= interes[i].image %>" alt="Buzo"></a>
                </div>
                <div class="info-interes">
                    <h3 class="titulo-interes"><%= interes[i].name %></h3>
                    <p class="precio-interes">$ <%= interes[i].price %></p>
                    <p class="talle-interes">Talles disponibles</p>
                    <div class="div-talle">
                        <p>S</p>
                        <p>M</p>
                        <p>XL</p>
                    </div>
    
                </div>
    
            </div>
            <% } %>
        </section>
        <section class="producto">
            <div class="ruta">
                <a href="#">Inicio </a>
                <p> > </p> <a href="#">Remeras </a>
                <p> > </p> <a href="#">Artistas musicales </a>
                <p> > </p> <a href="#">Radiohead </a>
                <p> > </p> <a href="#">Remera Radiohead</a>
            </div>
            <div class="titulo-producto">
                <h2><%= product.name %></h2>
            </div>
            <div class="contenedor-fotos">
                <div class="remeras-lateral">
                    <a href="#"><img class="remera2" src="/images/productos/<%= product.image%>" alt="Blanca"></a>
                    <a href="#"><img class="remera2" src="/images/productos/<%= product.image2%>" alt="Blanca"></a>
                </div>
                <img class="remera" src="/images/productos/<%= product.image%>" alt="#">
            </div>
        </section>
        <section class="detalles">
            <div class="precio">
                
               
                <h2><%= product.description%></h2> <br>
                <br>
                <h2>$ <%= product.price%></h2><span>x 6 cuotas sin interés</span>
            </div>
            <form action="#" method="POST" class="form">
                <label for="talle"></label>
                <select class="talle" name="talle" id="talle">
                    <option>Talle</option>
                    <option value="s">S</option>
                    <option value="m">M</option>
                    <option value="l">L</option>
                    <option value="xl">XL</option>
                </select>
                <label for="color"></label>
                <select class="color" name="color" id="color">
                    <option>Color</option>
                    <option value="negro">Negro</option>
                    <option value="blanco">Blanco</option>
                </select>
                <label for="cantidad"></label>
                <select class="cantidad" name="cantidad" id="cantidad">
                    <option>Cantidad</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </form>
            <div class="boton">
                   
                    <button type="submit">Agregar al Carrito</button>
               
            </div>
            <div class="contenedor-mercado">
                <img class="mercado" src="/images/mercado-pago.png" alt="Mercado Pago">
            </div>
        </section>
    </main>
    <%-include ("../partials/footer.ejs")%>
</body>

</html>