<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f09d19ae7c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <title>Nicotine</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main>

        <section class="products">
            <% for (i=0; i< product.length; i++){ %>
            <article>
                <a href="/products/<%= product[i].id_productos%>"><img src="/images/productos/<%= product[i].image %>" alt=""></a>
                <div class="main-article">
                    <h4 class="description"> <%= product[i].name%></h4>
                   
                    <% allColors.forEach(color => { %>
                         <% if (product[i].color == color.id_color) { %>
                            <p class="color"> COLOR <%= color.description %> </p> <% }; %>
                        <% }); %> 
                        <% allSizes.forEach(size => { %>
                            <% if (product[i].size == size.id_size) { %>
                                <p class="size"> TALLE <%= size.description %> </p> <% }; %>
                           <% }); %>    
                   
                    <p class="price">$ <%= product[i].price%></p>
                   
                </div>
            </article>
            <%}%>  
        </section>
     
        
            <div class="contenedor">
                <div class="fila">
                    <div class="small">
                        <a href="/products/filter/2"><img src="/images/categorias/cat-rock2.jpg" alt="Categoria Rock"></a>
                        <a class="centrado" href="#"> Musica</a>
                    </div>
                    <div class="small">
                        <a href="/products/filter/1"><img src="/images/categorias/cat-peliculas2.jpg" alt="Categoria Rock"></a>
                        <a class="centrado" href="#"> Peliculas y Series</a>
                    </div>
    
                </div>
            </div>
        </main>
        <div class="iconos-envios">
            <section>
                <i class="lni lni-credit-cards"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>En nuestra tienda, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                    seguro!</p>
            </section>
            <section>
                <i class="lni lni-delivery"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Nuestra tienda tenés envíos gratis en miles de productos.
                </p>
            </section>
            <section>
                <i class="lni lni-shopify"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Nicotine, no hay nada que no puedas hacer, porque estás siempre protegid@.
                </p>
            </section>
    
    
        </div>
    <%-include ("./partials/footer.ejs")%>
</body>

</html>