<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f09d19ae7c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/productCart.css">

</head>

<body>
    <%- include("../partials/header.ejs")%>
    <section>

        <h1>Tu carrito</h1>
        <% locals.suma = 0 %>
        <%  cart.forEach(cart=>{ %>

        <% for (i=0;i< cart.producto.length; i++) {  %>
        <article>
            <img class="remera" src="/images/productos/<%= cart.producto[i].image%>" alt="">
            <div class="desc-art-carrito">
                <h2><%= cart.producto[i].description%></h2>
                <p>Color: <%= cart.producto[i].color%></p>
                <p>Talle: <%= cart.producto[i].size%></p>
            </div>
            <div class="cant-art-carrito">
                <i class="fas fa-minus"></i>
              <p></p>  <%= cart.producto[i].CartDetail.cantidad%></p> 
               <i class="fas fa-plus"></i>
            </div>
            <div class="precioUni">
                <p><%= cart.producto[i].price%></p>
               <% locals.linea =  (cart.producto[i].CartDetail.cantidad * cart.producto[i].price)%>
                <p><%=  cart.producto[i].CartDetail.cantidad * cart.producto[i].price%></p>
                <a class="trash" href="#"><i class="far fa-trash-alt"></i></a>
              
            </div>
        </article>

        <% locals.suma =  locals.suma + locals.linea }%>
         
    <%})%>
    </section>

    <section class="pago-envio">
        <section class="buy-detail">
            <div class="shipping">
                <p>Envio a C.P 1826</p>
                <p class="Envio">Gratis</p>
            </div>
            <div class="price">
                <p>Total con envio</p>
                <p class="total"><%= locals.suma%></p>
            </div>
        </section>

        <section class="pay-method-container">
            <h3>Método de pago</h3>
            <div>
                <select class="pay-method" name="pay-method" id="pay-method">
                    <option value="credit">Crédito</option>
                    <option value="cash">Efectivo</option>
                    <option value="debit">Débito</option>
                </select>
                <select class="pay-options" name="pay-options" id="pay-options">
                    <option value="visa">Visa</option>
                    <option value="masterCard">Master Card</option>
                    <option value="americanExpress">American Express</option>
                </select>
            </div>
        </section>
        <div class="comprar">
            <button type="submit">Comprar ahora</button>
        </div>

    </section>

    </main>
    <%- include("../partials/footer.ejs")%>