<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/f09d19ae7c.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet" />
  <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/register.css" />
  <title>Nicotine</title>
</head>

<body>
  <%- include('../partials/header.ejs') %>
  <main>
    <section>
      <div class="register-box">
        <h2>¡Crea tu cuenta y elegí tu diseño favorito!</h2>

        <form action="/users/register" method="POST" class="register-form" id="register-form"
          enctype="multipart/form-data">
          <div class="errors">
            <ul>

            </ul>
          </div>

          <!--Div Name-->
          <div class="formulario__grupo" id="name">
            <div class="control-form">
              <input type="text" name="name" class="control" placeholder="Ingresá tu nombre"
                value="<%= locals.old? old.name : null  %>" />
              <i class="icono-estado fas fa-times-circle"></i>
            </div>
            <p class="input-error">El nombre tiene que ser de 4 a 30 dígitos y solo puede contener letras </p>
          </div>
          
          <!--Muestra errores que vienen de la validacion del back-->
          <% if(locals?.errors?.name) {%>
          <p class="errors">
            <%=errors.name.msg %>
          </p>
          <% } %>

          <!--Div Lastname-->

          <div class="formulario__grupo" id="lastname">
            <div class="control-form">
              <input type="text" name="lastname" class="control" placeholder="Ingresá tu apellido"
                value="<%= locals.old? old.lastName : null  %>" />
              <i class="icono-estado fas fa-times-circle"></i>
            </div>
            <p class="input-error">El apellido tiene que ser de 4 a 30 dígitos y solo puede contener letras </p>
          </div>
          
          <!--Muestra errores que vienen de la validacion del back-->
          <% if(locals?.errors?.lastName) {%>
          <p class="errors">
            <%=errors.lastName.msg %>
          </p>
          <% } %>
          
            <!--Div Email-->
          <div class="formulario__grupo" id="email">
          <div class="control-form" >
            <input type="email" name="email" class="control " placeholder="Ingresá un e-mail"
              value="<%= locals.old? old.email : null  %>" />
              <i class="icono-estado fas fa-times-circle"></i>
            </div>
            <p class="input-error">El mail solo puede contener letras, numeros, puntos, guiones y guion bajo </p>
          </div>
                    
          <!--Muestra errores que vienen de la validacion del back-->
          <% if(locals?.errors?.email) {%>
          <p class="errors">
            <%=errors.email.msg %>
          </p>
          <% } %>
 
            <!--Div Password-->
          <div class="formulario__grupo" id="password">
          <div class="control-form" >
            <input type="password" name="password" id="pass" class="control " placeholder="Elegí una contraseña" />
            <i class="icono-estado fas fa-times-circle"></i>
          </div>
          <p class="input-error">"La contraseña debera incluir, al menos una letra mayuscula, una minuscula, un numero y un caracter especial"</p>
        </div>
          <!--Muestra errores que vienen de la validacion del back-->
          <% if(locals?.errors?.password) {%>
          <p class="errors">
            <%=errors.password.msg %>
          </p>
          <% } %>
 
            <!--Div Confirmation Password-->
          <div class="formulario__grupo" id="confirmation">
          <div class="control-form" >
            <input type="password" name="confirmation" id= "pass2"class="control " placeholder="Repetí la contraseña" />
            <i class="icono-estado fas fa-times-circle"></i>
          </div>
          <p class="input-error">Ambas contraseñas deben ser iguales.</p>
        </div>

          <!--Muestra errores que vienen de la validacion del back-->
          <% if(locals?.errors?.confirmation) {%>
          <p class="errors">
            <%=errors.confirmation.msg %>
          </p>
          <% } %>
          <div class="control-form">
            <label for="image">
              Elegi una foto de perfil
              <input type="file" accept=".JPG, .PNG" name="image" class="control" />
            </label>
          </div>
          <!--Muestra errores que vienen de la validacion del back-->
          <% if(locals?.errors?.image) {%>
          <p class="errors">
            <%=errors.image.msg %>
          </p>
          <% } %>
          <div class="control-form">
            <label class="control">
              <h2>Pone tu cumpleaños</h2>
              <input type="date" name="birthday" min="1921-01-01" class="control"
                value="<%= locals.old? old.birthday : null  %>" />
            </label>
          </div>
          <!--Muestra errores que vienen de la validacion del back-->
          <% if(locals?.errors?.birthday) {%>
          <p class="errors">
            <%=errors.birthday.msg %>
          </p>
          <% } %>

  <!--Muestra mensaje de formulado incompleto-->

  <div class="mensaje-error" id="mensaje-error">
    <p ><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellene el formulario</p>
  </div>

  <!--Muestra mensaje de formulado enviado-->

  <div class= "control-form">
    <button type="submit" class="send-button">Enviar</button>
    <p class="envio-exitoso" id="envio-exitoso"> Formulario Enviado</p>
  </div>

         
        </form>
      </div>
    </section>
  </main>
  <%- include('../partials/footer.ejs') %>
  <script src="/script/valRegister.js"></script>
</body>

</html>